In [6]:
!pip install --upgrade -q seaborn google-cloud-firestore

WARNING: You are using pip version 20.2.3; however, version 20.2.4 is available.
You should consider upgrading via the '/usr/bin/python3 -m pip install --upgrade pip' command.

In [8]:
# Auth:
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "/tf/credentials.json"

# Data:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

# Visualization:
import seaborn as sns

# Database:
from google.cloud import firestore

# TF:
#import tensorflow as tf

#from tensorflow import keras
#from tensorflow.keras import layers
#from tensorflow.keras.layers.experimental import preprocessing


#print(tf.__version__)

In [9]:
# Make numpy printouts easier to read.
np.set_printoptions(precision=3, suppress=True)

In [14]:
# Create db instance: 
db = firestore.Client()

In [20]:
doc = db.collection(u'signals').document('5263').get()
df = pd.DataFrame.from_dict(doc.to_dict()['signals'])

df.head()

,action,status,price,stock,type,date
0,buy,executed,88.00,"{'linkName': None, 'list': 'Large Cap Stockhol...",enter,2000-01-09T23:00:00.000Z
1,sell,executed,75.67,"{'id': 5263, 'dataSeries': [], 'priceData': No...",exit,2000-01-25T23:00:00.000Z
2,buy,executed,66.00,"{'priceData': None, 'list': 'Large Cap Stockho...",enter,2000-07-30T22:00:00.000Z
3,sell,executed,60.00,"{'list': 'Large Cap Stockholm', 'linkName': No...",exit,2000-09-11T22:00:00.000Z
4,buy,executed,100.83,"{'lastPricePoint': None, 'id': 5263, 'dataSeri...",enter,2003-09-03T22:00:00.000Z

In [36]:
for i, row in df.iterrows():
    df.at[i, 'stock_name'] = row['stock']['name']
    df.at[i, 'stock_id'] = str(row['stock']['id'])

df.pop('stock')
df.head()

,action,status,price,type,date,stock_name,stock_id
0,buy,executed,88.00,enter,2000-01-09T23:00:00.000Z,SCA B,5263
1,sell,executed,75.67,exit,2000-01-25T23:00:00.000Z,SCA B,5263
2,buy,executed,66.00,enter,2000-07-30T22:00:00.000Z,SCA B,5263
3,sell,executed,60.00,exit,2000-09-11T22:00:00.000Z,SCA B,5263
4,buy,executed,100.83,enter,2003-09-03T22:00:00.000Z,SCA B,5263

# TODO
- Add trades to db
- lägg till trade result som kolumn

## Features
- Avg volume
- STD
- 1,3,6,12m perf
- 1,3,6,12m relative perf (mot index)
- räntekurva
- breadth
- rsi, massa olika
- high massa olika
- low massa olika
- range massa olika